/* esercizio 1  */
.ex-1-square{
    transition: 2s;
}
.ex-1-square:hover{
    background-color: red;
}


 /* esercizio 2  */
.ex-2-square{
    transition: 2s;
}
.ex-2-square:active{
    width: 100%;
}


/* esercizio 3 */
.ex-3-square{
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}


/* esercizio 4  */
.ex-4-square{
    animation-name: disappear;
    animation-duration: 5s;
}
@keyframes disappear{
    from {width: 100px;}
    to {width: 0px;}
    from {height: 100px;}
    to {height: 0px;}
}


/* esercizio 5  */
.ex-5-square{
   transition: 2s;
 }
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}


/* esercizio 6  */
.ex-6-img:hover{
     filter: grayscale(1);
 }


/* esercizio 7  */
.ex-7-img{
    transition: 4s;
}
.ex-7-img:hover{
    filter:brightness(2);
    width: 400px;
}


/* esercizio 8  */
.ex-8-img{
    transition: 4s;
}
.ex-8-img:hover{
    filter:contrast(3);
    width: 400px;
    border-radius: 50%;
}


/* esercizio 9  */
.ex-9-img{
    transition: 4s;
}
.ex-9-img:hover{
    filter:saturate(2.2);
    scale: 1.5;
    border-radius: 50%;
    transform: translateX(160px);
}

 
/* esercizio 10 */
.ex-10-icon{
    animation: download 1s  infinite linear;
}

@keyframes download{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}


/* esercizio 11 */
.ex-11-icon:hover{
    animation: d-back 4s  infinite;
}

@keyframes d-back{
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
