/* esercizio 1  */
.ex-1-square{
    transition: 2s;
}

.well .ex-1-square:hover{
    background-color: red;
}


 /* esercizio 2  */
 .ex-2-square{
    transition: 2s;
 }

.well .ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */
.ex-3-square{
    transition: 2s;
 }
 .well .ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4  */
.ex-4-square{
    animation-name: disappear;
    animation-duration: 5s;
    animation-iteration-count:infinite;
 }
 @keyframes disappear
 {
 from {width: 100px;}
 to {width: 0px;}
 from {height: 100px;}
 to {height: 0px;}
 }